:root {
    --main-color: #ff6a00;
    --secondary-color: #000000;
}

.logo {
    height: 15vh;
}

h2 {
  font-weight: 300;
}

.menuBar {
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .menuBar-nav {
    color: var(--main-color);
    font-size: 2rem;
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .menuBar-nav-text {
    text-decoration: none;
    color: var(--kmain-color);
    font-size: 1.5rem;
  }

  